<%- partial('_partial/layout/head/index') %>
<%- partial('_partial/layout/script/script') %>

  <body>
    <main>

<%- partial('_partial/layout/header/index') %>

    <%- body %>

      <%- partial('_partial/layout/footer/footer') %>

    </main>

    <div class="u-outer-spaces-helper"></div>


  </body>
</html>
