<!DOCTYPE html>
<html lang="zh">
  <head>

      <!-- Title -->
      <%
      var title = page.title;

      if (is_archive()){
        title = __('archive_a');

        if (is_month()){
          title += ': ' + page.year + '/' + page.month;
        } else if (is_year()){
          title += ': ' + page.year;
        }
      } else if (is_category()){
        title = __('category') + ': ' + page.category;
      } else if (is_tag()){
        title = __('tag') + ': ' + page.tag;
      }
      %>
      <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="baidu-site-verification" content="x3N9zxqrty" />
    <meta name="baidu-site-verification" content="cP2u6szylS" />
    <meta name="google-site-verification" content="pwQ78Z9AmtXiVWejypS4rBSfBZ4_G95mchbkWo3EWmI" />
    <% if (config.keywords){ %>
      <meta name="keywords" content="<%= config.keywords %>">
    <%} %>
    <% if (config.author){ %>
      <meta name="author" content="<%= config.author %>">
    <%} %>
    <% if (config.description){ %>
      <meta name="description" content="<%= config.description %>">
    <%} %>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700%7COpen+Sans:400,600,700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="/assets/vendor/animate.css">
    <link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.css">

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="/assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/assets/vendor/revolution-slider/revolution/css/settings.css">
    <link rel="stylesheet" href="/revolution-slider/carousel-gallery/assets/css/style.css">

    <!-- CSS Unify Theme -->
    <link rel="stylesheet" href="/assets/css/styles.bm-classic.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- CSS Implementing Plugins -->
    <link  rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.min.css">
  </head>
