<!-- JS Implementing Plugins -->
<script src="/assets/vendor/custombox/custombox.min.js"></script>

<!-- JS Unify -->
<script src="/assets/js/components/hs.modal-window.js"></script>


<!-- Footer -->
<footer class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 ">
  <br><br><br>
  <div class="container g-mb-60">
    <div class="row">

      <%- partial('about-email') %>

        <%- partial('tags-userlink') %>

          <%- partial('lastestposts') %>

            <%- partial('footer-right') %>
    </div>
  </div>


  <%- partial('copyright') %>

</footer>
<!-- End Footer -->
<a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
 "bottom": 15,
 "right": 15
}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
  <i class="hs-icon hs-icon-arrow-top"></i>
</a>

<script type="text/javascript">
  $(function() {

    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
    $.HSCore.components.HSModalWindow.init('[data-modal-target]');
    $.getJSON("https://sslapi.hitokoto.cn/?encode=json", function(json) {

      var author = json["from"];
      var content = json["hitokoto"];

      $("#hitokoto").html(content);

      $("blockquote .content").html(content);
      $("blockquote .author").html(author);
    });
  });
</script>
